<div
    class="cell"
    [ngClass]="{
        isVisited: cell.isVisited,
        isWall: cell.isWall,
        isEndNode: cell.isEnd,
        inPath: cell.inPath,
        isStartNode: cell.isStart
    }"
    (mouseover)="createWall($event)"
    (mousedown)="mouseDown($event)"
    (mouseup)="mouseUp($event)"
    #nodeel
    draggable="{{ cell.isStart || cell.isEnd ? true : false }}"
    (dragstart)="dragStart($event)"
    dropzone="copy"
    (drop)="mouseUp($event)"
    (dragenter)="dragCancel($event)"
    (dragleave)="dragCancel($event)"
    (dragover)="dragCancel($event)"
></div>
